
body{
    font-family : Helvetica, sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.eltList {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height:100%;
    width: 100%;
}

.element{

    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: lightgrey ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.details{
    display: flex;
    justify-content: center;
    height:100%;
    width: 100%;
}

.photo-img{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 4px;
    border-bottom: solid 1px lightgrey;
    background-color: #f4f4f4;
}

.content{
    width: 60%;
    max-width: 60%;
}

.name{
    padding: 7px;
    font-weight: 600;
    color: black;

}
.eltTop{
    border-bottom: solid 1px lightgrey;
}
.links{
    display: flex;
    margin: 7px;
}
.link{
    margin-left: 4px;
}
.link-text{
    margin: 2px;
    font-size: 85%;
    color : grey;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}
.details-header{
    border: solid 1px lightgrey;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.listElt{
    padding-left: 10px ;
}

.List{
    font-size: 80%;
}
h3{
    color: dimgray;
}

.detail-img{
    margin-right: 20px;
}
.book{
    height: 10px;
    width: auto;
}